
/* style.css */

:root {
    --primary-bg-color: #000000;
    --text-color: #ffffff;
    --main-bg-color: #333;
    --main-text-color: #fff;
    --main-btn-bg-color: #938989;
  }
  
 
  
  body {
    font-family: "Arial", sans-serif;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    line-height: 1.6;
    
    flex-direction: column;
    align-items: center;
    
    overflow: hidden;
    cursor: none; /
  }
  
  
  /* I import a custom font for my heading */
@font-face {
    font-family: 'Catherova';
    src: url('Catherova.ttf') format('truetype');
}

/* Apply custom font to the heading and allow font size and position adjustments, the default font size, smooth transition for font size change, allow positioning adjustments  */
.custom-font {
    font-family: 'Catherova', sans-serif;
    font-size: 7vw; 
    transition: font-size 0.3s ease; 
    position: relative; 
}

/* Animation on hover make it increas it's size on hovert, then add a black shadow glow effect   */
.custom-font:hover {
    font-size: 10vw; 
    text-shadow: 0 0 10px black; 
}

/* Adjusting font position and the font size of the heading*/
.custom-font {
    top: 50px; 
    left: 20px; 
    text-align: center; 
    margin: 0px auto; 
    display: inline-block;
}


  


/* Make the video cover the entire viewport and fixed in place */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}



  /* Header styling */
  header {

    color: var(--main-text-color);
    
    text-align: center;
    width: 100%;
  }
  
  

 /* I make a container to hold the 3d modle and make it at the top of the webpage and the width is 100% */
#model-container {
    width: 100%;
    height: 20vh; /* Adjust the height as needed */
    position: relative;
}



#trailCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

#customCursor {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid black;
    border-radius: 50%;
    pointer-events: none;
    z-index: 2;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease, border-width 0.2s ease;
    box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.8); /* Glowing effect */
}

button, a {
    cursor: pointer;
}

button:hover #customCursor, a:hover #customCursor {
    transform: translate(-50%, -50%) scale(1.5);
    border-width: 3px;
}

.media-player:hover {
    transform: scale(1.05) rotateX(0deg) rotateY(0deg);
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.5);
}

.scroll-container {
    max-height: 200vh; /* Adjust this value as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

/* Import custom font */
@font-face {
    font-family: 'Orchestra';
    src: url('Orchestra-Regular.otf') format('opentype');
}

/* Scrolling text container styling */
.scrolling-container {
    position: relative;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1000px;
    height: 400px; /* Double the height */
    overflow: hidden;
    z-index: 1; /* Ensure it's above the video but below the content */
    display: flex;
    align-items: center;
    mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
}

/* Scrolling text styling */
.scrolling-text {
    display: flex;
    flex-direction: column;
    font-family: 'Orchestra', sans-serif;
    font-size: 5vh;
    font-weight: bold;
    color: white;
    white-space: nowrap;
    animation: scroll 8s linear infinite; /* Adjust the duration to control the speed */
    text-align: center;
    text-shadow: 4px 4px 8px black; /* Add heavy black shadow */
}

.scrolling-text div {
    padding: 10px 0;
}

@keyframes scroll {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

/* Progress bar styling */
.progress-bar {
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  height: 10px;
  border-radius: 5px;
  margin-top: 5px;
  overflow: hidden;
  position: relative;
}

.progress {
  width: 0;
  height: 100%;
  background: #fff;
  border-radius: 5px;
  transition: width 0.1s;
}

/* Control bar styling */
.controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.control-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.3s, filter 0.3s;
  filter: invert(1); /* Make icons white */
}

.control-icon:hover {
  transform: scale(1.2);
  filter: invert(1) drop-shadow(2px 2px 4px black);
}


/* Bottom GIF styling */
.bottom-gif {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.bottom-gif img {
  width: 100%;
  height: 120px;
  display: block;

}



.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
  position: relative;
  overflow: hidden;
  pointer-events: none;
  width: 100%;
  top: 14vh; /* Move the gallery down */
  left: -4.5vw; /* Move the gallery to the left */
}

.image-container {
  position: absolute;
  transform-origin: center center;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  perspective: 900px;
}

.image-container .inner {
  transform: rotateY(45deg) rotateX(5deg);
  position: relative;
}

.image-container .inner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  transform: rotateY(-45deg) rotateX(-5deg);
  pointer-events: none;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.image {
  width: 25vw;
  height: auto;
  display: block;
  pointer-events: auto;
  cursor: pointer;
  transform: rotateY(-45deg) rotateX(-5deg);
  transition: transform 0.5s ease;
}

.image-container:hover .image {
  transform: scale(1.1) rotateY(0deg) rotateX(0deg);
  z-index: 10;
}

.image-container:hover .inner::after {
  transform: scale(1.1) rotateY(0deg) rotateX(0deg);
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.8);
}

.details {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #040000e6;
  display: none;
  justify-content: center;
  align-items: center;
}

.details .close {
  position: absolute;
  top: 2000px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: #fff; /* Change the color to white */
}

.details .close:hover {
  transform: scale(1.2);
}

.details-content {
  width: 80%;
  max-width: 8000px;
  background: #333;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

@keyframes flyIn {
  0% {
      transform: translateY(100vh) rotateY(45deg) rotateX(5deg);
      opacity: 0;
  }
  100% {
      transform: translateY(0) rotateY(45deg) rotateX(5deg);
      opacity: 1;
  }
}

.image-container:nth-child(1) {
  left: calc(100% / 16 * 1.5);
  top: calc(1% * var(--i));
  transform: rotateY(30deg) translateZ(-150px);
  animation: flyIn 2s ease-in-out forwards;
  animation-delay: calc(0.3s * var(--i));
}

.image-container:nth-child(2) {
  left: calc(100% / 16 * 3.5);
  top: calc(1% * var(--i));
  transform: rotateY(15deg) translateZ(-100px);
  animation: flyIn 2s ease-in-out forwards;
  animation-delay: calc(0.3s * var(--i));
}

.image-container:nth-child(3) {
  left: calc(100% / 16 * 5.5);
  top: calc(1% * var(--i));
  transform: rotateY(0deg) translateZ(-50px);
  animation: flyIn 2s ease-in-out forwards;
  animation-delay: calc(0.3s * var(--i));
}

.image-container:nth-child(4) {
  left: calc(100% / 16 * 7.5);
  top: calc(1% * var(--i));
  transform: rotateY(-15deg) translateZ(0);
  animation: flyIn 2s ease-in-out forwards;
  animation-delay: calc(0.3s * var(--i));
}

.image-container:nth-child(5) {
  left: calc(100% / 16 * 9.5);
  top: calc(1% * var(--i));
  transform: rotateY(-30deg) translateZ(50px);
  animation: flyIn 2s ease-in-out forwards;
  animation-delay: calc(0.3s * var(--i));
}

.image-container:nth-child(6) {
  left: calc(100% / 16 * 11.5);
  top: calc(1% * var(--i));
  transform: rotateY(-45deg) translateZ(100px);
  animation: flyIn 2s ease-in-out forwards;
  animation-delay: calc(0.3s * var(--i));
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.fade-out {
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  0% {
      opacity: 1;
      transform: scale(1);
  }
  100% {
      opacity: 0;
      transform: scale(3);
  }
}

@keyframes expand {
  0% {
      transform: scale(1) rotateY(-45deg) rotateX(-5deg);
      opacity: 1;
  }
  100% {
      transform: scale(2.5) rotateY(0deg) rotateX(0deg);
      opacity: 0;
  }
}

.expand {
  animation: expand 1s forwards;
}
